@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(29, 27, 27);
}

.card-body{
  padding: 3px;
}

.text {
  color: aliceblue;
  text-align: center;
  margin: 5px 1px 1px 1px;
}

.user-container {
  display: flex;
}

.user-card {
  background-color: black;
  color: grey;
  border-color: grey;
}

.custom-form{
  max-width: 66%;
  margin: 0 auto;
}

.button{
  margin: 5px;
}

.ml-auto {
  display: flex;
  gap: 5px;
  margin-left: auto; 
}

.custom-btn{
  max-width: 66%;
  margin: 0 auto;
}

.profile-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  margin-top: 2%;
}

.logo {
  font-size: 30pt;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
}

.navbar {
  padding: 0;
}

#edit-user {
  align-content: center;
}
.box {
  display: flex;
}

.info-box {
  display: flex;
}

.card-display {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #413a3a;
  padding: 10px;
  border: 1px solid #fcfcfc;
}

.image-container {
  width: 33.33%;
  margin-right: 5px;
}

.image-container img {
  width: 100%;
  height: auto;
}

.info-container {
  color: #fcfcfc;
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: 5px;
}

.info-container p {
  margin: 5px 0;
}

.rate-box {
  color: #fcfcfc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.comment-display {
  flex: 2;
  background-color: #554848;
  padding: 20px;
  border: 1px solid #fcfcfc;
}

.profile-info {
  text-align: center;
  padding: 5px;
  max-width: 400px;
  margin: 5px;
  color: whitesmoke;
  border: 1px solid #fcfcfc;/* check for removal*/
}

.profile-shelf {
  display: flex;
  flex-direction: column;
  align-items: center;
 }


.shelf-items {
  display: flex;
  flex-direction: column; /* Arrange items in a column */
}

.users-shelf {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next row */
}

.user-review {
  text-align: center;
color: aliceblue;
}
